## Part 1: Preprocessing

In [51]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [52]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [53]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]

In [54]:
# Create a list of at least 10 column names to use as X data
columns_X = ['Age', 'DistanceFromHome', 'Education', 'HourlyRate', 'JobLevel', 'YearsInCurrentRole', 'NumCompaniesWorked', 'PercentSalaryHike', 'TotalWorkingYears', 'YearsAtCompany']



# Create X_df using your selected columns
X_df = attrition_df[columns_X]


# Show the data types for X_df
X_df.dtypes

Age                   int64
DistanceFromHome      int64
Education             int64
HourlyRate            int64
JobLevel              int64
YearsInCurrentRole    int64
NumCompaniesWorked    int64
PercentSalaryHike     int64
TotalWorkingYears     int64
YearsAtCompany        int64
dtype: object

In [55]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, test_size=0.3, random_state=42)

In [56]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary

In [57]:
# Process numeric data: Scale numeric features
numeric_cols = X_train.select_dtypes(include=['int64', 'float64']).columns
scaler = StandardScaler()

# Fit the scaler to the numeric columns on the training data
scaler.fit(X_train[numeric_cols])

# Transform the numeric features
X_train_scaled = scaler.transform(X_train[numeric_cols])
X_test_scaled = scaler.transform(X_test[numeric_cols])

In [58]:
# Process categorical data: Encode categorical features
categorical_cols = X_train.select_dtypes(include=['object']).columns
encoder = OneHotEncoder(sparse=False)

# Fit the encoder to the categorical columns on the training data
encoder.fit(X_train[categorical_cols])

# Transform the categorical features
X_train_encoded = encoder.transform(X_train[categorical_cols])
X_test_encoded = encoder.transform(X_test[categorical_cols])

# Combine the processed numerical and categorical features
X_train_preprocessed = np.hstack((X_train_scaled, X_train_encoded))
X_test_preprocessed = np.hstack((X_test_scaled, X_test_encoded))

c:\Users\Stephen Haldi\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [59]:
# Encode the target variables
encoder_dept = OneHotEncoder(sparse=False)
encoder_attrition = OneHotEncoder(sparse=False)

# Fit and transform the department target
encoder_dept.fit(y_train[['Department']])
y_train_dept_encoded = encoder_dept.transform(y_train[['Department']])
y_test_dept_encoded = encoder_dept.transform(y_test[['Department']])

# Fit and transform the attrition target
encoder_attrition.fit(y_train[['Attrition']])
y_train_attr_encoded = encoder_attrition.transform(y_train[['Attrition']])
y_test_attr_encoded = encoder_attrition.transform(y_test[['Attrition']])

c:\Users\Stephen Haldi\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\Stephen Haldi\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [60]:
print(X_train_preprocessed.shape)
print(y_train_dept_encoded.shape)
print(y_train_attr_encoded.shape)

(1029, 10)
(1029, 3)
(1029, 2)

In [61]:
""" # Create a StandardScaler
numeric_cols = X_train.select_dtypes(include=['int64', 'float64']).columns
scaler = StandardScaler()


# Fit the StandardScaler to the training data
scaler.fit(X_df)


# Scale the training and testing data
X_train_scaled = scaler.transform(X_df)
X_test_scaled = scaler.transform(X_df)
 """

" # Create a StandardScaler\nnumeric_cols = X_train.select_dtypes(include=['int64', 'float64']).columns\nscaler = StandardScaler()\n\n\n# Fit the StandardScaler to the training data\nscaler.fit(X_df)\n\n\n# Scale the training and testing data\nX_train_scaled = scaler.transform(X_df)\nX_test_scaled = scaler.transform(X_df)\n "

In [62]:
""" # Create a OneHotEncoder for the Department column
encoder_dept = OneHotEncoder()


# Fit the encoder to the training data
encoder_dept.fit(y_train[['Department']])


# Create two new variables by applying the encoder
# to the training and testing data
y_train_dept_encoded = encoder_dept.transform(y_train[['Department']])
y_test_dept_encoded = encoder_dept.transform(y_test[['Department']])

 """

" # Create a OneHotEncoder for the Department column\nencoder_dept = OneHotEncoder()\n\n\n# Fit the encoder to the training data\nencoder_dept.fit(y_train[['Department']])\n\n\n# Create two new variables by applying the encoder\n# to the training and testing data\ny_train_dept_encoded = encoder_dept.transform(y_train[['Department']])\ny_test_dept_encoded = encoder_dept.transform(y_test[['Department']])\n\n "

In [63]:
""" # Create a OneHotEncoder for the Attrition column
encoder_attrition = OneHotEncoder()


# Fit the encoder to the training data
encoder_attrition.fit(y_train[['Attrition']])


# Create two new variables by applying the encoder
# to the training and testing data
y_train_attr_encoded = encoder_attrition.transform(y_train[['Attrition']])
y_test_attr_encoded = encoder_attrition.transform(y_test[['Attrition']])
 """

" # Create a OneHotEncoder for the Attrition column\nencoder_attrition = OneHotEncoder()\n\n\n# Fit the encoder to the training data\nencoder_attrition.fit(y_train[['Attrition']])\n\n\n# Create two new variables by applying the encoder\n# to the training and testing data\ny_train_attr_encoded = encoder_attrition.transform(y_train[['Attrition']])\ny_test_attr_encoded = encoder_attrition.transform(y_test[['Attrition']])\n "

## Create, Compile, and Train the Model

In [64]:
# Find the number of columns in the X training data
num_features = X_train_scaled.shape[1]
input_shape = X_train_preprocessed.shape[1]


# Create the input layer
input_layer = layers.Input(shape=(input_shape,))


# Create at least two shared layers
shared_layer_one = layers.Dense(128, activation='relu')(input_layer)
shared_layer_two = layers.Dense(64, activation='relu')(shared_layer_one)

In [65]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
dept_hidden = layers.Dense(32, activation='relu')(shared_layer_two)


# Create the output layer
dept_output = layers.Dense(y_train_dept_encoded.shape[1], activation='softmax', name='department')(dept_hidden)

In [66]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
attr_hidden = layers.Dense(32, activation='relu')(shared_layer_two)


# Create the output layer
attr_output = layers.Dense(y_train_attr_encoded.shape[1], activation='sigmoid', name='attrition')(attr_hidden)

In [67]:
input_shape = X_train_preprocessed.shape[1]

In [68]:
# Create the model
new_model = Model(inputs=input_layer, outputs=[dept_output, attr_output])


# Compile the model
new_model.compile(optimizer='adam', loss={'department': 'categorical_crossentropy', 'attrition': 'binary_crossentropy'}, metrics=['accuracy'])


# Summarize the model
new_model.summary()

Model: "model_3"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_5 (InputLayer)        [(None, 10)]                 0         []

 dense_12 (Dense)            (None, 128)                  1408      ['input_5[0][0]']

 dense_13 (Dense)            (None, 64)                   8256      ['dense_12[0][0]']

 dense_14 (Dense)            (None, 32)                   2080      ['dense_13[0][0]']

 dense_15 (Dense)            (None, 32)                   2080      ['dense_13[0][0]']

 department (Dense)          (None, 3)                    99        ['dense_14[0][0]']

 attrition (Dense)           (None, 2)                    66        ['dense_15[0][0]']

==================================================================================================
Total params: 13989 (54.64 KB)
Trainable params: 13989 (54.64 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [69]:
# Train the model
new_model.fit(
    X_train_preprocessed,
    {
        'department': y_train_dept_encoded,
        'attrition': y_train_attr_encoded
    },
    epochs=10,
    batch_size=32
)

Epoch 1/10
WARNING:tensorflow:From c:\Users\Stephen Haldi\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

WARNING:tensorflow:From c:\Users\Stephen Haldi\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

33/33 [==============================] - 3s 3ms/step - loss: 1.5515 - department_loss: 1.0170 - attrition_loss: 0.5345 - department_accuracy: 0.5364 - attrition_accuracy: 0.8290
Epoch 2/10
33/33 [==============================] - 0s 4ms/step - loss: 1.2749 - department_loss: 0.8186 - attrition_loss: 0.4563 - department_accuracy: 0.6569 - attrition_accuracy: 0.8290
Epoch 3/10
33/33 [==============================] - 0s 4ms/step - loss: 1.1930 - department_loss: 0.7577 - attrition_loss: 0.4353 - department_accuracy: 0.6589 - attrition_accuracy: 0.8290
Epoch 4/10
33/33 [==============================] - 0s 6ms/step - loss: 1.1636 - department_loss: 0.7398 - attrition_loss: 0.4239 - department_accuracy: 0.6608 - attrition_accuracy: 0.8290
Epoch 5/10
33/33 [==============================] - 0s 6ms/step - loss: 1.1428 - department_loss: 0.7279 - attrition_loss: 0.4149 - department_accuracy: 0.6657 - attrition_accuracy: 0.8290
Epoch 6/10
33/33 [==============================] - 0s 3ms/step - loss: 1.1221 - department_loss: 0.7101 - attrition_loss: 0.4120 - department_accuracy: 0.6715 - attrition_accuracy: 0.8290
Epoch 7/10
33/33 [==============================] - 0s 3ms/step - loss: 1.0990 - department_loss: 0.6951 - attrition_loss: 0.4039 - department_accuracy: 0.6910 - attrition_accuracy: 0.8299
Epoch 8/10
33/33 [==============================] - 0s 3ms/step - loss: 1.0838 - department_loss: 0.6843 - attrition_loss: 0.3995 - department_accuracy: 0.6861 - attrition_accuracy: 0.8309
Epoch 9/10
33/33 [==============================] - 0s 4ms/step - loss: 1.0702 - department_loss: 0.6754 - attrition_loss: 0.3948 - department_accuracy: 0.6958 - attrition_accuracy: 0.8328
Epoch 10/10
33/33 [==============================] - 0s 4ms/step - loss: 1.0544 - department_loss: 0.6641 - attrition_loss: 0.3904 - department_accuracy: 0.7055 - attrition_accuracy: 0.8328

In [73]:
# Evaluate the model with the testing data
evaluation = new_model.evaluate(X_test_preprocessed, {'department': y_test_dept_encoded, 'attrition': y_test_attr_encoded})

14/14 [==============================] - 1s 3ms/step - loss: 1.1705 - department_loss: 0.7530 - attrition_loss: 0.4175 - department_accuracy: 0.6213 - attrition_accuracy: 0.8435

In [74]:
# Print the accuracy for both department and attrition
print(f"Department accuracy: {evaluation[3]}")
print(f"Attrition accuracy: {evaluation[4]}")

Department accuracy: 0.6213151812553406
Attrition accuracy: 0.8435373902320862

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. Accuracy might not be the best metric for this dataset if the data is imbalanced
2. For the department output, a softmax activation function was used because it's 
    a multi-class classification problem, and softmax is suitable for outputting a probability distribution across multiple classes.
3. Hyperparameter Tuning, Feature Engineering like PCA for performance improvements.